<div class="hero-unit">
	<h1>Welcome!</h1>
	<p>
		You've found the home page for
		<%= link_to "Alex's stuff", "http://facebook.com/mountainduu" %>.
	</p>
	<p>
		<%= link_to "Sign Up Now!", '#', class: "btn btn-primary btn-large" %>
	<p>
</div>
